<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head') %>
        <title>Blogify</title>
    <style>
        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <%- include('./partials/nav') %>

    <div class="container">
        <div class="row">
            <% blogs.forEach(blog => { %>
                <div class="col-md-4 mt-4">
                    <div class="card" style="width: 100%;">
                        <img src="<%= blog.Tumbnail ? '/' + blog.Tumbnail : '/uploads/default-thumbnail.jpg' %>" class="card-img-top" alt="thumbnail">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.Title %></h5>
                            <p class="card-text"><%= blog.Description %></p>
                            <p class="Author-text">- <%= blog.CreatedBy.Name %></p>
                            <a href="#" class="btn btn-primary">Read</a>
                            <a href="/update/<%= blog._id %>" class="btn btn-info">Update</a>
                            <form action="/blog/delete/<%= blog._id %>?_method=DELETE" method="POST" style="display: inline;">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <%- include('./partials/scripts') %>
</body>

</html>